# Added by R
.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/

# Custom ignore
**/Input
# Ignore all log and bib files
**/*.log
**/*.bib
**/.texpadtmp
# Do not store Cache files
**/Paper_Cache
# Misc
**/Slides
Analysis/Output/*.tex


